@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

/* CSS Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

/* General Styles */

p,
li,
a {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* Navigation Styles */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  height: 60px;
  font-size: 1.25em;
}

nav a {
  text-decoration: none;
}

nav .nav-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .brand {
  font-family: "Anta", sans-serif;
  font-weight: 700;
}

nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-flow: row wrap;
  flex: 2;
  height: 100%;
}

nav .nav-list .nav-menu {
  font-weight: 500;
  height: 100%;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
}

.nav-menu:active {
  background-color: #6fe0e7;
}

.nav-menu a:link {
  text-decoration: none;
}

.nav-menu a:visited {
  color: #6fe0e7;
}

.nav-menu a:hover {
  color: #6fe0e7;
  text-decoration: underline;
}

.nav-menu a:active {
  color: #1f2d57;
  text-decoration: none;
}

/* Main Styles */

section {
  height: 100vh;
  background: #1f2d57;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  height: 100%;
  padding: 65px 0;
}

/* = About Styles = */

.image-container {
  height: fit-content;
}

.my-photo {
  border-radius: 50%;
  max-width: 300px;
}

.profile-info {
  max-width: 1024px;
}

.profile-info .profile-description {
  padding: 1em 0;
}

.my-name {
  font-size: 2.5em;
  background: linear-gradient(
    180deg,
    rgba(76, 136, 255, 1) 0%,
    rgba(111, 224, 231, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-info .social-media-list {
  display: flex;
  width: fit-content;
  gap: 1em;
}

.fa-brands,
.fa-solid {
  font-size: 1.5em;
  color: white;
  cursor: default;
}

.fa-brands:hover,
.fa-solid:hover {
  color: #6fe0e7;
}

/* = Experience Styles = */

.article-list {
  margin: 1.5em 0 0;
  max-width: 100%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow-y: auto;
}

.article-list article {
  max-width: 100%;
}

article .article-wrapper {
  border: white 2px solid;
  border-radius: 20px;
  overflow: hidden;
}

article .article-image-wrapper {
  background-color: white;
  height: 150px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  padding: 0.25em;
  object-fit: contain;
}

article .article-text {
  background-color: #4c88ff;
  padding: 1em 1.25em;
  max-height: 75%;
  max-width: 100%;
  overflow-y: auto; 
}

.article-text h3,
.article-text p {
  color: black;
}

/* = Technologies Styles = */

section#technologies {
  height: 50vh;
}

.tech-list {
  margin: 1.5em 0 0;
  display: flex;
  flex-flow: row wrap;
  max-height: 90% ;
  max-width: 100%;
  justify-content: center;
}

.tech-list .tech-item {
  background-color: white;
}

.tech-list .tech-logo {
  max-height: 150px;
}


/* Responsive Style */

/* @media screen and (max-width: 600px) {
} */

/* @media screen and (min-width: 600px) {
} */

/* @media screen and (min-width: 768px) {
} */

/* @media screen and (min-width: 1024px){
} */
