@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

/* CSS Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

/* General Styles */

p,
li,
a {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* Navigation Styles */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5em 2em;
  height: 60px;
  font-size: 1.25em;
}

nav a {
  text-decoration: none;
}

nav .nav-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .brand {
  font-family: "Anta", sans-serif;
  font-weight: 700;
}

nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-flow: row wrap;
  flex: 2;
  height: 100%;
}

nav .nav-list .nav-menu {
  font-weight: 500;
  height: 100%;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
}

.nav-menu:hover {
  background-color: #6fe0e7;
}

.nav-menu a:link {
  text-decoration: none;
}

.nav-menu a:visited {
  color: #6fe0e7;
}

.nav-menu a:hover {
  color: #1f2d57;
}

.nav-menu a:active {
  color: white;
  text-decoration: none;
}

/* Main Styles */

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(31, 45, 87, 1);
}

/* .wrapper {
  width: 60%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
} */

/* .image-container {
  height: fit-content;
} */

/* .image-container img {
  border-radius: 50%;
} */

/* .profile-info {
  padding: 1em;
} */

/* .profile-info .profile-description {
  margin-top: 1em;
} */

/* .my-name {
  font-size: 2.5em;
  background: linear-gradient(
    180deg,
    rgba(76, 136, 255, 1) 0%,
    rgba(111, 224, 231, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* .profile-info .social-media-list {
  display: flex;
  width: fit-content;
} */

/* .social-media-list .social-media-item {
  margin-right: 1em;
} */

/* .social-media-item:nth-last-child() {
  margin-right: 0;
} */

/* .fa-brands,
.fa-solid {
  font-size: 1.5em;
  color: #4c88ff;
} */

/* Responsive Style */

/* @media screen and (max-width: 600px) {
} */

/* @media screen and (min-width: 600px) {
} */

/* @media screen and (min-width: 768px) {
} */

/* @media screen and (min-width: 1024px){
} */
